@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header-hero,
.footer {
    background: #1f2937;
}

p,
ul {
    margin: 0;
    padding: 0;
}

p.logo {
    font-size: 24px;
    color: #f9faf8;
}

p.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

p.hero-second {
    color: #e5e7eb;
    font-size: 18px;
}

.header-container a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header-container ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

.header-container,
.hero-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}