@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header-hero,
.footer {
    background: #1f2937;
}

p,
ul {
    margin: 0;
    padding: 0;
}

.header-container a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header-container {
    display: flex;
}